<p id="notice"><%= notice %></p>
<% room = Room.new%>
<% room = Room.find(@reservation.room_id)%>
<% member = Member.new%>
<% member = Member.find(@reservation.member_id)%>
<p>
  <strong>Room Number:</strong>
  <%=room.room_id %>
</p>
<p>
  <strong>Room Building:</strong>
  <%=room.building %>
</p>
<p>
  <strong>Member Email:</strong>
  <%= member.email %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reservation.end_time %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', rooms_path %>
